.App {
  text-align: center;
  align-items: center
}


.App-link {
  color: #61dafb;
}

.MuiFormControlLabel{
  display: inline-block;
}
.gender{
  text-align: center ;
  float: left;
}

#radioD{
  margin: auto;
  width: 5%;
  padding: 10px;
}

#userD{
  color: #F08080;
}